  <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ChatApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" [class.active]="currentRoute === '/dashboard'" routerLink="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item" *ngIf="isSuperAdmin">
            <a class="nav-link" [class.active]="currentRoute === '/manage-members'" routerLink='/manage-members'>Manage Members</a>
          </li>
          <li class="nav-item" *ngIf="isSuperAdmin">
            <a class="nav-link" [class.active]="currentRoute === '/manage-reports'" routerLink='/manage-reports'>Manage Reports</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" [class.active]="currentRoute === '/groups'" routerLink='/groups'>Groups</a>
          </li>
          <li class="nav-item" *ngIf="isViewingGroup">
            <a class="nav-link" [class.active]="currentRoute === '/group/' + viewedGroupId" routerLink="'/groups' + viewedGroupId">{{ viewedGroupName }}</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/sign-up" class="nav-link active" *ngIf="!isLoggedIn">Sign Up</a>
          </li>
          <li class="nav-item">
            <a (click)="logout()" class="nav-link active" *ngIf="isLoggedIn">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>








