  <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ChatApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [class.active]="currentRoute === '/dashboard'" routerLink="/dashboard" *ngIf="isLoggedIn">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="currentRoute === '/groups'" routerLink='/groups' *ngIf="isLoggedIn">Groups</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/login" class="nav-link active" *ngIf="!isLoggedIn">Login</a>
          </li>
          <li class="nav-item">
            <a (click)="logout()" class="nav-link active" *ngIf="isLoggedIn">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>




  <div class="container mt-4">
    <h1>Users</h1>
<ul class="list-group">
  <li *ngFor="let user of users" class="list-group-item">
      ID: {{user.id}} <br>
      Username: {{user.username}} <br>
      Email: {{user.email}} <br>
      Roles: {{user.roles.join(', ')}} <br>
      Groups: {{user.groups.length ? user.groups.join(', ') : 'None'}} <br>
  </li>
</ul>
  </div>






