<div class="container">
    <h1>Manage Groups</h1>
  
    <!-- Create Group Button and Form -->
    <div>
      <!-- Create Group Button -->
      <button *ngIf="!showCreateGroupForm && canCreateGroup()" class="btn green" (click)="showCreateGroupForm = true">Create Group</button>
  
      <!-- Cancel Group Button -->
      <button *ngIf="showCreateGroupForm" class="btn red" (click)="cancelCreateGroup()">Cancel</button>
  
      <!-- Create Group Form -->
      <div *ngIf="showCreateGroupForm">
        <input [(ngModel)]="newGroupName" placeholder="Group Name" />
        <button class="btn green" (click)="createGroup()">Confirm</button>
        
        <!-- Error message -->
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      </div>
    </div>
  
    <!-- Group List -->
    <div *ngFor="let group of groups" class="group-card">
      <h2>{{ group.name }}</h2>
      <p>Admins: {{ getAdminNames(group.adminId) }}</p>
      <p>Members: {{ group.memberId.length }}</p>
  
      <!-- Conditional Buttons for Super Admins and Group Admins -->
      <div *ngIf="canManageGroup(group)">
        <button class="btn green" (click)="viewGroup(group)">View Group</button>
        <button *ngIf="!isMember(group)" class="btn blue" (click)="apply(group)">Join Group</button>
        <button *ngIf="isMember(group)" class="btn red" (click)="leave(group)">Leave Group</button>
        <button class="btn red" (click)="delete(group.id)">Delete Group</button>
      </div>
  
      <!-- Conditional Buttons for Group Admins who are not Admin of This Group -->
      <div *ngIf="currentUserRole === 'GroupAdmin' && !group.adminId.includes(currentUserId)">
        <button class="btn green" (click)="viewGroup(group)">View Group</button>
        <button *ngIf="!isPending(group) && !isMember(group)" class="btn blue" (click)="apply(group)">Apply to Group</button>
        <button *ngIf="isPending(group)" class="btn red" (click)="cancel(group)">Cancel Application</button>
        <button *ngIf="isMember(group)" class="btn red" (click)="leave(group)">Leave Group</button>
      </div>
  
      <!-- Conditional Buttons for Regular Users -->
      <div *ngIf="currentUserRole === 'user'">
        <button class="btn green" (click)="viewGroup(group)">View Group</button>
        <button *ngIf="!isPending(group) && !isMember(group)" class="btn blue" (click)="apply(group)">Apply to Group</button>
        <button *ngIf="isPending(group)" class="btn red" (click)="cancel(group)">Cancel Application</button>
        <button *ngIf="isMember(group)" class="btn red" (click)="leave(group)">Leave Group</button>
      </div>
    </div>
  </div>
  