<div class="container mt-4">
    <div class="row">
      <!-- Profile Settings Section -->
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header">
            <h4>Profile Settings</h4>
          </div>
          <div class="card-body">
            <div class="img-mask">
                <img [src]="userProfile.profilePicture || 'assets/placeholder.png'" alt="Profile picture">
            </div>
            <p><strong>Username:</strong> {{ userProfile.username }}</p>
            <p><strong>Email:</strong> {{ userProfile.email }}</p>
            <div class="profile-buttons">
                <button class="btn btn-primary" (click)="editProfile()">Edit Profile</button>
                <button class="btn btn-danger" (click)="deleteProfile()">Delete Profile</button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Groups List Section -->
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header">
            <h4>Your Groups</h4>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li *ngFor="let group of userGroups" class="list-group-item">
                <a [routerLink]="['/groups/', group.id]" class="text-decoration-none">
                  {{ group.name }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
