.profile-buttons {
    display: flex;
    gap: 10px;
}

.profile-buttons button {
  flex: 1;
  padding: 5px 10px;
  font-size: 16px;
}

.img-mask {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgb(0, 0, 0, 0.16);
  margin-bottom: 1em;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}